src/*.exe
src/cannacoin
src/cannacoind
src/test_cannacoin
src/tags
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cannacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
cannacoin-qt
Cannacoin-Qt.app

# Unit-tests
Makefile.test
cannacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile

.qmake.stash
Info.plist
Cannacoin-Qt.xcodeproj
dist/
*.dmg

# Output of contrib/check-upstream.sh
merge-*.txt

*.sublime-project
*.sublime-workspace
