src/*.exe
src/reddcoin
src/reddcoind
src/test_reddcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.reddcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
reddcoin-qt
Reddcoin-Qt.app

# Unit-tests
Makefile.test
reddcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile

.qmake.stash
Info.plist
Reddcoin-Qt.xcodeproj
dist/
reddcoin-1.1.3.2-mac.dmg
